@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
*::-moz-selection {
  background: #64ffda;
  color: #0a192f;
}
*::selection {
  background: #64ffda;
  color: #0a192f;
}
* img {
  width: 100%;
}
* body::-webkit-scrollbar {
  width: 13px;
}
* body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
* body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
* body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 20px;
  border: 3px solid var(--scrollbarBG);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter", sans-serif;
}

img {
  width: 100%;
}

body {
  margin: 3rem 2rem;
  background-color: #0a192f;
  position: relative;
}
@media (min-width: 768px) {
  body {
    margin: 4rem;
  }
}
@media (min-width: 1300px) {
  body {
    margin: 5rem 8rem;
  }
}
@media (min-width: 1366px) {
  body {
    margin: 4rem 7rem;
  }
}
body h1,
body h3 {
  color: #e6f1ff;
}
body p {
  color: #8892b0;
}
body p::-moz-selection {
  background: #64ffda;
  color: #112240;
}
body p::selection {
  background: #64ffda;
  color: #112240;
}
body .homepage-style .container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4rem;
  position: relative;
}
@media (min-width: 1024px) {
  body .homepage-style .container {
    flex-direction: row;
  }
}
body .homepage-style .container .detail.container {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 300px 300px rgba(29, 78, 216, 0.1);
}
@media (min-width: 1024px) {
  body .homepage-style .container .detail.container {
    position: fixed;
  }
}
body .homepage-style .container-first-sec {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
  width: 30vw;
}
@media (min-width: 1024px) {
  body .homepage-style .container-first-sec {
    position: fixed;
    align-items: flex-start;
    justify-content: space-between;
    height: 80vh;
  }
}
body .homepage-style .container-first-sec .resume {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  width: 15rem;
}
@media (min-width: 768px) {
  body .homepage-style .container-first-sec .resume {
    width: 40vw;
  }
}
@media (min-width: 1300px) {
  body .homepage-style .container-first-sec .resume {
    width: 30vw;
  }
}
@media (min-width: 1366px) {
  body .homepage-style .container-first-sec .resume {
    width: 34vw;
  }
}
@media (min-width: 1440px) {
  body .homepage-style .container-first-sec .resume {
    width: 30vw;
  }
}
body .homepage-style .container-first-sec .resume h1,
body .homepage-style .container-first-sec .resume h3 {
  color: #e6f1ff;
}
body .homepage-style .container-first-sec .resume h1::-moz-selection, body .homepage-style .container-first-sec .resume h3::-moz-selection {
  background: #64ffda;
  color: #0a192f;
}
body .homepage-style .container-first-sec .resume h1::selection,
body .homepage-style .container-first-sec .resume h3::selection {
  background: #64ffda;
  color: #0a192f;
}
body .homepage-style .container-first-sec .resume h1 {
  font-size: 2rem;
}
@media (min-width: 1024px) {
  body .homepage-style .container-first-sec .resume h1 {
    font-size: 3.3rem;
  }
}
@media (min-width: 1300px) {
  body .homepage-style .container-first-sec .resume h1 {
    font-size: 3.5rem;
  }
}
@media (min-width: 1440px) {
  body .homepage-style .container-first-sec .resume h1 {
    font-size: 4rem;
  }
}
body .homepage-style .container-first-sec .resume h3 {
  font-weight: 400;
}
@media (min-width: 1024px) {
  body .homepage-style .container-first-sec .resume h3 {
    font-size: 1.4rem;
  }
}
@media (min-width: 1440px) {
  body .homepage-style .container-first-sec .resume h3 {
    font-size: 1.5rem;
  }
}
body .homepage-style .container-first-sec .resume p {
  color: #8892b0;
}
@media (min-width: 1024px) {
  body .homepage-style .container-first-sec .resume p {
    font-size: 1rem;
  }
}
body .homepage-style .container-first-sec .resume p::-moz-selection {
  background: #64ffda;
  color: #112240;
}
body .homepage-style .container-first-sec .resume p::selection {
  background: #64ffda;
  color: #112240;
}
body .homepage-style .container-first-sec .navegation {
  display: none;
  visibility: hidden;
}
@media (min-width: 1024px) {
  body .homepage-style .container-first-sec .navegation {
    display: flex;
    visibility: visible;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  }
  body .homepage-style .container-first-sec .navegation-item.actived h1 {
    color: white;
  }
  body .homepage-style .container-first-sec .navegation-item.actived span {
    background-color: #e6f1ff;
    width: 5rem;
  }
  body .homepage-style .container-first-sec .navegation-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 1rem;
  }
  body .homepage-style .container-first-sec .navegation-item h1,
  body .homepage-style .container-first-sec .navegation-item span {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    color: #233554;
  }
  body .homepage-style .container-first-sec .navegation-item span {
    display: block;
    background-color: #233554;
    width: 3rem;
    height: 0.05rem;
  }
  body .homepage-style .container-first-sec .navegation-item h1 {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  body .homepage-style .container-first-sec .navegation-item h1 {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) and (min-width: 1366px) {
  body .homepage-style .container-first-sec .navegation-item h1 {
    font-size: 0.8rem;
  }
}
@media (min-width: 1024px) {
  body .homepage-style .container-first-sec .navegation-item h1:hover {
    color: white;
  }
}
@media (min-width: 1024px) {
  body .homepage-style .container-first-sec .navegation-item h1:hover + span {
    background-color: #e6f1ff;
    width: 5rem;
  }
}
body .homepage-style .container-first-sec .social-medias {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
body .homepage-style .container-first-sec .social-medias .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
body .homepage-style .container-first-sec .social-medias .icons svg {
  font-size: 1.8rem;
  color: #8892b0;
  transition: all 0.3s ease-in-out;
}
body .homepage-style .container-first-sec .social-medias .icons svg:hover {
  color: #64ffda;
}
body .homepage-style .container-first-sec .social-medias a {
  text-decoration: none;
  color: #8892b0;
  transition: all 0.3s ease-in-out;
}
body .homepage-style .container-first-sec .social-medias a:hover {
  color: #64ffda;
}
body .homepage-style .container-second-sec {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
@media (min-width: 1024px) {
  body .homepage-style .container-second-sec {
    width: 50vw;
    margin-left: 45vw;
  }
}
@media (min-width: 1300px) {
  body .homepage-style .container-second-sec {
    width: 55vw;
    margin-left: 42vw;
  }
}
body .homepage-style .container-second-sec .title {
  margin: 2rem 0;
}
@media (min-width: 1024px) {
  body .homepage-style .container-second-sec .title {
    display: none;
    visibility: hidden;
  }
}
body .homepage-style .container-second-sec .title h1 {
  font-size: 1rem;
  color: #ccd6f6;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (min-width: 1024px) {
  body .homepage-style .container-second-sec .about {
    height: 80vh;
  }
}
@media (min-width: 1440px) {
  body .homepage-style .container-second-sec .about {
    height: 50vh;
  }
}
body .homepage-style .container-second-sec .about .content p {
  margin: 0.8rem 0;
  font-size: 0.95rem;
  color: #8892b0;
}
@media (min-width: 1300px) {
  body .homepage-style .container-second-sec .about .content p {
    font-size: 1.2rem;
  }
}
@media (min-width: 1366px) {
  body .homepage-style .container-second-sec .about .content p {
    font-size: 1rem;
  }
}
@media (min-width: 1440px) {
  body .homepage-style .container-second-sec .about .content p {
    font-size: 1.1rem;
  }
}
body .homepage-style .container-second-sec .about .content p::-moz-selection {
  background: #64ffda;
  color: #112240;
}
body .homepage-style .container-second-sec .about .content p::selection {
  background: #64ffda;
  color: #112240;
}
body .homepage-style .container-second-sec .about .content span {
  color: #ccd6f6;
  font-weight: 500;
}
body .homepage-style .container-second-sec .about .content span::-moz-selection {
  background: #64ffda;
  color: #0a192f;
}
body .homepage-style .container-second-sec .about .content span::selection {
  background: #64ffda;
  color: #0a192f;
}
body .homepage-style .container-second-sec .projects {
  margin: 4rem 0 2rem 0;
  overflow: hidden;
}
body .homepage-style .container-second-sec .projects .detail.projects {
  width: 1px;
  height: 1px;
  border-radius: 100%;
  position: absolute;
  top: 90vh;
  right: 15vw;
  box-shadow: 0 0 300px 300px rgba(29, 78, 216, 0.1);
}
body .homepage-style .container-second-sec .projects .list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  gap: 3rem;
}
@media (min-width: 1024px) {
  body .homepage-style .container-second-sec .projects .list {
    gap: 0rem;
  }
  body .homepage-style .container-second-sec .projects .list:hover > .project {
    opacity: 0.3;
  }
}
body .homepage-style .container-second-sec .projects .list .project {
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1024px) {
  body .homepage-style .container-second-sec .projects .list .project {
    padding: 1.5rem;
    cursor: pointer;
    z-index: 99999999999;
  }
  body .homepage-style .container-second-sec .projects .list .project:hover {
    opacity: 1;
    background-color: rgba(204, 214, 246, 0.05);
    padding: 1.5rem;
    border-radius: 0.3rem;
  }
  body .homepage-style .container-second-sec .projects .list .project:hover img {
    box-shadow: 0 0 1px 1px #a8b2d1;
  }
}
body .homepage-style .container-second-sec .projects .list .project a {
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 1rem;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) {
  body .homepage-style .container-second-sec .projects .list .project a {
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
  }
}
@media (min-width: 1024px) {
  body .homepage-style .container-second-sec .projects .list .project a {
    align-items: flex-start;
    pointer-events: all;
  }
}
body .homepage-style .container-second-sec .projects .list .project-image img {
  width: 13rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 1px 1px #112240;
  transition: all 0.3s ease-in-out;
  pointer-events: all;
}
@media (min-width: 1024px) {
  body .homepage-style .container-second-sec .projects .list .project-image img {
    width: 10rem;
  }
}
body .homepage-style .container-second-sec .projects .list .project-image img:hover {
  box-shadow: 0 0 1px 1px #a8b2d1;
}
body .homepage-style .container-second-sec .projects .list .project-content .title {
  display: flex;
  align-items: center;
  margin: 0.8rem 0;
  pointer-events: all;
  display: flex;
  visibility: visible;
}
@media (min-width: 1024px) {
  body .homepage-style .container-second-sec .projects .list .project-content .title {
    margin: 0 0 0.8rem 0;
  }
}
body .homepage-style .container-second-sec .projects .list .project-content h1 {
  cursor: pointer;
}
body .homepage-style .container-second-sec .projects .list .project-content h1:hover + svg {
  transform: translate(3px, -3px) rotate(45deg);
  color: #64ffda;
}
body .homepage-style .container-second-sec .projects .list .project-content h1,
body .homepage-style .container-second-sec .projects .list .project-content svg {
  font-size: 1.1rem;
  color: white;
  text-transform: none;
  letter-spacing: 0px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
body .homepage-style .container-second-sec .projects .list .project-content h1:hover,
body .homepage-style .container-second-sec .projects .list .project-content svg:hover {
  color: #64ffda;
}
body .homepage-style .container-second-sec .projects .list .project-content svg {
  transform: translate(-3px, 3px) rotate(45deg);
  font-size: 1.5rem;
  margin: 0 0.5rem;
}
body .homepage-style .container-second-sec .projects .list .project .desc {
  margin: 0.8rem 0;
  font-size: 0.9rem;
  color: #8892b0;
}
body .homepage-style .container-second-sec .projects .list .project .desc::-moz-selection {
  background: #64ffda;
  color: #112240;
}
body .homepage-style .container-second-sec .projects .list .project .desc::selection {
  background: #64ffda;
  color: #112240;
}
body .homepage-style .container-second-sec .projects .list .project .stacks {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
}
body .homepage-style .container-second-sec .projects .list .project .stacks-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
}
body .homepage-style .container-second-sec .projects .list .project .stacks-item p {
  color: #64ffda;
  padding: 0.5rem 0.8rem;
  border-radius: 1.5rem;
  font-size: 0.8rem;
  background-color: rgba(94, 234, 212, 0.1);
}
body .homepage-style .container-second-sec .projects .all-projects {
  margin: 2rem 0;
}
body .homepage-style .container-second-sec .projects .all-projects nav ul li {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
body .homepage-style .container-second-sec .projects .all-projects nav ul li p,
body .homepage-style .container-second-sec .projects .all-projects nav ul li svg {
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
body .homepage-style .container-second-sec .projects .all-projects nav ul li p:hover + svg {
  transform: translateX(1rem) rotate(90deg);
  color: #64ffda;
}
body .homepage-style .container-second-sec .projects .all-projects nav ul li p:hover {
  color: #64ffda;
}
body .homepage-style .container-second-sec .projects .all-projects nav ul li svg {
  font-size: 1.5rem;
  transform: rotate(90deg);
}
body .homepage-style .container-second-sec .skills {
  margin: 2rem 0;
  position: relative;
}
body .homepage-style .container-second-sec .skills .detail.skills {
  width: 1px;
  height: 1px;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 300px 300px rgba(29, 78, 216, 0.1);
}
body .homepage-style .container-second-sec .skills-list .item {
  padding: 1rem 0 3rem 0;
  border-bottom: 1px solid rgba(136, 146, 176, 0.3);
}
body .homepage-style .container-second-sec .skills-list .item h2 {
  font-size: 1.1rem;
  color: white;
  letter-spacing: 0px;
  font-weight: 500;
  margin: 0.8rem 0;
}
body .homepage-style .container-second-sec .skills-list .item-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}
body .homepage-style .container-second-sec .skills-list .item-list p {
  padding: 0.5rem 0.8rem;
  border-radius: 1.5rem;
  font-size: 0.8rem;
}
body .homepage-style .container-second-sec .skills-list .item-list p.competent {
  background-color: rgba(94, 234, 212, 0.1);
  color: #64ffda;
}
body .homepage-style .container-second-sec .skills-list .item-list p.studying {
  color: rgb(0, 80, 255);
  background-color: rgb(5, 15, 70);
}/*# sourceMappingURL=index.css.map */