@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;800&display=swap');
/* $Navy: #0a192f; */
$Navy: #282727;
$Light-Navy: #112240;
$Lightest-Navy: #233554;
$Slate: #8892b0;
$Light-Slate: #a8b2d1;
$Lightest-Slate: #ccd6f6;
$White: #e6f1ff;
$Green: #64ffda;
$Light-Blue: rgba(29, 78, 216, 0.1);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;

  &::selection {
    background: $Green;
    color: $Navy;
  }

  html {
    $scrollbarBG: transparent;
    $thumbBG: $Navy;
  }

  img {
    width: 100%;
  }

  body::-webkit-scrollbar {
    width: 13px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 20px;
    border: 3px solid var(--scrollbarBG);
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Inter', sans-serif;
}

img {
  width: 100%;
}

body {
  margin: 3rem 2rem;
  background-color: $Navy;

  position: relative;

  @media (min-width: 768px) {
    margin: 5rem 3rem;
  }

  @media (min-width: 1024px) {
    margin: 7vw 7vw;
  }

  h1,
  h3 {
    color: $White;
  }

  p {
    color: $Slate;
    &::selection {
      background: $Green;
      color: $Light-Navy;
    }
  }

  .homepage-style {
    .container {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 4rem;
      position: relative;

      @media (min-width: 1024px) {
        flex-direction: row;
        gap: 4vw;
      }

      .detail.container {
        width: 1px;
        height: 1px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 0 0 300px 300px $Light-Blue;

        @media (min-width: 1024px) {
          box-shadow: 0 0 10vw 10vw $Light-Blue;
          position: fixed;
        }
      }

      &-first-sec {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 2rem;
        width: 30vw;

        @media (min-width: 1024px) {
          position: fixed;
          align-items: flex-start;
          justify-content: space-between;
          height: 80vh;
          gap: 2vw;
        }

        .resume {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          gap: 0.5rem;
          width: 15rem;

          @media (min-width: 768px) {
            width: 40vw;
          }

          @media (min-width: 1024px) {
            gap: 0.5vw;
          }

          @media (min-width: 1300px) {
            width: 30vw;
          }

          @media (min-width: 1366px) {
            width: 34vw;
          }

          @media (min-width: 1440px) {
            width: 30vw;
          }

          h1,
          h3 {
            color: $White;

            &::selection {
              background: $Green;
              color: $Navy;
            }
          }

          h1 {
            font-size: 2rem;

            @media (min-width: 1024px) {
              font-size: 4vw;
            }
          }

          h3 {
            font-weight: 400;

            @media (min-width: 1024px) {
              font-size: 1.4vw;
            }
          }

          p {
            color: $Slate;
            @media (min-width: 1024px) {
              font-size: 1vw;
            }

            &::selection {
              background: $Green;
              color: $Light-Navy;
            }
          }
        }

        .navegation {
          display: none;
          visibility: hidden;

          @media (min-width: 1024px) {
            display: flex;
            visibility: visible;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 1rem;

            @media (min-width: 1024px) {
              gap: 1vw;
            }

            &-item {
              &.actived {
                h1 {
                  color: white;
                }
                span {
                  background-color: $White;
                  width: 5rem;

                  @media (min-width: 1024px) {
                    width: 5vw;
                  }
                }
              }

              a {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row-reverse;
                gap: 1rem;

                @media (min-width: 1024px) {
                  gap: 1vw;
                }
              }

              h1,
              span {
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                color: $Lightest-Navy;
              }

              span {
                display: block;
                background-color: $Lightest-Navy;
                width: 3rem;
                height: 0.05rem;

                @media (min-width: 1024px) {
                  width: 3vw;
                }
              }

              h1 {
                font-size: 0.9rem;
                text-transform: uppercase;
                letter-spacing: 1px;

                @media (min-width: 1024px) {
                  font-size: 0.9vw;
                }

                &:hover {
                  color: white;
                }

                &:hover + span {
                  background-color: $White;
                  width: 5rem;

                  @media (min-width: 1024px) {
                    font-size: 5vw;
                  }
                }
              }
            }
          }
        }

        .social-medias {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          gap: 1rem;

          @media (min-width: 1024px) {
            gap: 1vw;
          }

          .icons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            @media (min-width: 1024px) {
              gap: 1vw;
            }

            svg {
              font-size: 1.8rem;
              color: $Slate;
              transition: all 0.3s ease-in-out;

              @media (min-width: 1024px) {
                font-size: 1.8vw;
              }

              &:hover {
                color: $Green;
              }
            }
          }

          a {
            text-decoration: none;
            color: $Slate;
            transition: all 0.3s ease-in-out;

            @media (min-width: 1024px) {
              font-size: 1vw;
            }

            &:hover {
              color: $Green;
            }
          }
        }
      }

      &-second-sec {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        @media (min-width: 1024px) {
          width: 50vw;
          margin-left: 45vw;
        }

        @media (min-width: 1300px) {
          width: 55vw;
          margin-left: 42vw;
        }

        .title {
          margin: 2rem 0;
          @media (min-width: 1024px) {
            display: none;
            visibility: hidden;
            margin: 2vw 0;
          }

          h1 {
            font-size: 1rem;
            color: $Lightest-Slate;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
        }

        .about {
          @media (min-width: 1024px) {
            height: 80vh;
          }

          @media (min-width: 1440px) {
            height: 50vh;
          }

          .content {
            p {
              margin: 0.8rem 0;
              font-size: 0.95rem;
              color: $Slate;

              @media (min-width: 1024px) {
                font-size: 1vw;
                margin: 0.8vw 0;
              }

              &::selection {
                background: $Green;
                color: $Light-Navy;
              }
            }

            span {
              color: $Lightest-Slate;
              font-weight: 500;

              &::selection {
                background: $Green;
                color: $Navy;
              }
            }
          }
        }

        .projects {
          margin: 4rem 0 2rem 0;
          overflow: hidden;

          @media (min-width: 1024px) {
            margin: 4vw 0 2vw 0;
          }

          .detail.projects {
            width: 1px;
            height: 1px;
            border-radius: 100%;
            position: absolute;
            top: 90vh;
            right: 15vw;
            box-shadow: 0 0 300px 300px $Light-Blue;

            @media (min-width: 1024px) {
              box-shadow: 0 0 10vw 10vw $Light-Blue;
            }
          }

          .list {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            transition: all 0.3s ease-in-out;
            gap: 3rem;

            @media (min-width: 1024px) {
              &:hover > .project {
                opacity: 0.3;
              }

              gap: 0rem;
            }

            .project {
              transition: all 0.3s ease-in-out;

              @media (min-width: 1024px) {
                padding: 1.5vw;
                cursor: pointer;
                z-index: 99999999999;

                &:hover {
                  opacity: 1;
                  background-color: rgba($color: $Lightest-Slate, $alpha: 0.05);
                  padding: 1.5vw;
                  border-radius: 0.3vw;
                }

                &:hover {
                  img {
                    box-shadow: 0 0 1px 1px $Light-Slate;
                  }
                }
              }

              a {
                pointer-events: none;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column-reverse;
                gap: 1rem;
                transition: all 0.3s ease-in-out;

                @media (min-width: 768px) {
                  flex-direction: row;
                  align-items: center;
                  gap: 1.2rem;
                }

                @media (min-width: 1024px) {
                  align-items: flex-start;
                  pointer-events: all;
                  gap: 1.2vw;
                }
              }

              &-image {
                img {
                  width: 13rem;
                  border-radius: 0.2rem;
                  box-shadow: 0 0 1px 1px $Light-Navy;
                  transition: all 0.3s ease-in-out;
                  pointer-events: all;

                  @media (min-width: 1024px) {
                    width: 11vw;
                    border-radius: 0.2vw;
                  }

                  &:hover {
                    box-shadow: 0 0 1px 1px $Light-Slate;
                  }
                }
              }
              &-content {
                .title {
                  display: flex;
                  align-items: center;
                  margin: 0.8rem 0;
                  pointer-events: all;
                  display: flex;
                  visibility: visible;

                  @media (min-width: 1024px) {
                    margin: 0 0 0.8vw 0;
                  }
                }

                h1 {
                  cursor: pointer;

                  &:hover + svg {
                    transform: translate(3px, -3px) rotate(45deg);
                    color: $Green;
                  }
                }

                h1,
                svg {
                  font-size: 1.1rem;
                  color: white;
                  text-transform: none;
                  letter-spacing: 0px;
                  font-weight: 500;
                  transition: all 0.3s ease-in-out;

                  @media (min-width: 1024px) {
                    font-size: 1.1vw;
                  }

                  &:hover {
                    color: $Green;
                  }
                }

                svg {
                  transform: translate(-3px, 3px) rotate(45deg);
                  font-size: 1.5rem;
                  margin: 0 0.5rem;

                  @media (min-width: 1024px) {
                    font-size: 1.5vw;
                    margin: 0 0.5vw;
                  }
                }
              }

              .desc {
                margin: 0.8rem 0;
                font-size: 0.9rem;
                color: $Slate;

                @media (min-width: 1024px) {
                  margin: 0.8vw 0;
                  font-size: 0.9vw;
                }

                &::selection {
                  background: $Green;
                  color: $Light-Navy;
                }
              }

              .stacks {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 0.8rem;

                @media (min-width: 1024px) {
                  gap: 0.8vw;
                }

                &-item {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  gap: 0.8rem;

                  @media (min-width: 1024px) {
                    gap: 0.8vw;
                  }

                  p {
                    color: $Green;
                    padding: 0.5rem 0.8rem;
                    border-radius: 1.5rem;
                    font-size: 0.8rem;
                    background-color: rgb(94 234 212/0.1);

                    @media (min-width: 1024px) {
                      padding: 0.5vw 0.8vw;
                      border-radius: 1.5vw;
                      font-size: 0.8vw;
                    }
                  }
                }
              }
            }
          }

          .all-projects {
            margin: 2rem 0;

            @media (min-width: 1024px) {
              gap: 2vw;
            }

            nav ul li {
              display: flex;
              align-items: center;
              gap: 0.2rem;

              @media (min-width: 1024px) {
                gap: 0.2rem;
              }

              p,
              svg {
                color: white;
                transition: all 0.3s ease-in-out;
                cursor: pointer;

                @media (min-width: 1024px) {
                  font-size: 1vw;
                }
              }

              p {
                &:hover + svg {
                  transform: translateX(1rem) rotate(90deg);
                  color: $Green;
                }

                &:hover {
                  color: $Green;
                }
              }

              svg {
                font-size: 1.5rem;
                transform: rotate(90deg);

                @media (min-width: 1024px) {
                  font-size: 1.5vw;
                }
              }
            }
          }
        }

        .skills {
          margin: 2rem 0;
          position: relative;

          @media (min-width: 1024px) {
            margin: 2vw 0;
          }

          .detail.skills {
            width: 1px;
            height: 1px;
            border-radius: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            box-shadow: 0 0 300px 300px $Light-Blue;

            @media (min-width: 1024px) {
              box-shadow: 0 0 10vw 10vw $Light-Blue;
            }
          }

          &-list {
            .item {
              padding: 1rem 0 3rem 0;
              border-bottom: 1px solid rgba($color: $Slate, $alpha: 0.3);

              @media (min-width: 1024px) {
                padding: 1vw 0 3vw 0;
              }

              h2 {
                font-size: 1.1rem;
                color: white;
                letter-spacing: 0px;
                font-weight: 500;
                margin: 0.8rem 0;

                @media (min-width: 1024px) {
                  font-size: 1.1vw;
                  margin: 0.8vw 0;
                }
              }

              &-list {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;
                gap: 1rem;

                @media (min-width: 1024px) {
                  gap: 1vw;
                }

                p {
                  padding: 0.5rem 0.8rem;
                  border-radius: 1.5rem;
                  font-size: 0.8rem;

                  @media (min-width: 1024px) {
                    padding: 0.5vw 0.8vw;
                    border-radius: 1.5vw;
                    font-size: 0.8vw;
                  }

                  &.competent {
                    background-color: rgb(94 234 212/0.1);
                    color: $Green;
                  }

                  &.studying {
                    color: rgb(0, 80, 255);
                    background-color: rgb(5, 15, 70);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
