* {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
*::-moz-selection {
  background: #64ffda;
  color: #0a192f;
}
*::selection {
  background: #64ffda;
  color: #0a192f;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter", sans-serif;
}

.projects-style {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .projects-style {
    min-height: 70vh;
  }
}
@media (min-width: 1440px) {
  .projects-style {
    margin: 7vw auto;
  }
}
.projects-style .detail.projects {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  box-shadow: 0 0 300px 300px rgba(29, 78, 216, 0.1);
}
@media (min-width: 1024px) {
  .projects-style .detail.projects {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 10vw 10vw rgba(29, 78, 216, 0.1);
  }
}
.projects-style .detail.projects.bottom {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
}
.projects-style h1 {
  font-size: 6vw;
}
@media (min-width: 768px) {
  .projects-style h1 {
    font-size: 3vw;
  }
}
.projects-style .back-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  width: 10rem;
}
@media (min-width: 1024px) {
  .projects-style .back-menu {
    width: 9vw;
    gap: 0.2vw;
    margin-bottom: 1vw;
  }
}
.projects-style .back-menu:hover > svg {
  transform: rotate(-90deg) translateY(-0.5rem);
}
.projects-style .back-menu svg {
  font-size: 0.9rem;
  transform: rotate(-90deg) translateX(0rem);
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1024px) {
  .projects-style .back-menu svg {
    font-size: 1.2vw;
  }
}
.projects-style .back-menu h2 {
  font-size: 0.9rem;
}
@media (min-width: 1024px) {
  .projects-style .back-menu h2 {
    font-size: 0.9vw;
  }
}
.projects-style .back-menu h2,
.projects-style .back-menu svg {
  color: #64ffda;
}
.projects-style .table {
  margin: 2rem 0;
}
.projects-style .table table {
  border-collapse: collapse;
  text-align: left;
}
.projects-style .table table thead tr {
  border-bottom: 0.5px solid rgba(34, 44, 65, 0.9);
}
.projects-style .table table thead tr th {
  padding: 0.7rem 1rem;
  color: #e2e8f0;
  font-weight: 500;
  font-size: 0.8rem;
}
@media (min-width: 1024px) {
  .projects-style .table table thead tr th {
    font-size: 0.9vw;
    padding: 0.7vw 1vw;
  }
}
.projects-style .table table thead tr th.links {
  visibility: hidden;
  display: none;
}
@media (min-width: 768px) {
  .projects-style .table table thead tr th.links {
    visibility: visible;
    display: table-cell;
  }
}
.projects-style .table table thead tr th.stacks {
  visibility: hidden;
  display: none;
}
.projects-style .table table thead tr th.stacks p {
  color: #64ffda;
  padding: 0.5rem 0.8rem;
  border-radius: 1.5rem;
  font-size: 0.8rem;
  background-color: rgba(94, 234, 212, 0.1);
}
@media (min-width: 1024px) {
  .projects-style .table table thead tr th.stacks p {
    font-size: 0.9vw;
    padding: 0.5vw 0.8vw;
    border-radius: 1.5vw;
  }
}
@media (min-width: 1024px) {
  .projects-style .table table thead tr th.stacks {
    visibility: visible;
    display: table-cell;
  }
}
.projects-style .table table tbody tr {
  border-bottom: 0.5px solid rgba(34, 44, 65, 0.9);
}
.projects-style .table table tbody tr:last-child {
  border: none;
}
.projects-style .table table tbody tr td {
  padding: 0.8rem 1rem;
  font-size: 0.8rem;
}
@media (min-width: 1024px) {
  .projects-style .table table tbody tr td {
    font-size: 0.9vw;
    padding: 0.8vw 1vw;
  }
}
.projects-style .table table tbody tr td.year {
  color: #8892b0;
}
.projects-style .table table tbody tr td.project a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .projects-style .table table tbody tr td.project a {
    pointer-events: none;
  }
}
@media (min-width: 1024px) {
  .projects-style .table table tbody tr td.project a {
    font-size: 0.9vw;
  }
}
.projects-style .table table tbody tr td.project a svg {
  transform: translate(-3px, 3px) rotate(45deg);
  margin: 0 0.5rem;
  font-size: 1rem;
  color: white;
  text-transform: none;
  letter-spacing: 0px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .projects-style .table table tbody tr td.project a svg {
    display: none;
    visibility: hidden;
  }
}
@media (min-width: 1024px) {
  .projects-style .table table tbody tr td.project a svg {
    font-size: 0.9vw;
    margin: 0 0.5vw;
  }
}
.projects-style .table table tbody tr td.project a p {
  color: white;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  transition: all 0.3s ease-in-out;
}
.projects-style .table table tbody tr td.project a p:hover {
  color: #64ffda;
}
.projects-style .table table tbody tr td.project a p:hover + svg {
  transform: translate(3px, -3px) rotate(45deg);
  color: #64ffda;
}
.projects-style .table table tbody tr td.links {
  visibility: hidden;
  display: none;
}
@media (min-width: 768px) {
  .projects-style .table table tbody tr td.links {
    visibility: visible;
    display: table-cell;
  }
  .projects-style .table table tbody tr td.links a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 0.8rem;
    pointer-events: none;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .projects-style .table table tbody tr td.links a {
    pointer-events: all;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .projects-style .table table tbody tr td.links a {
    font-size: 0.9vw;
  }
}
@media (min-width: 768px) {
  .projects-style .table table tbody tr td.links a svg {
    transform: translate(-3px, 3px) rotate(45deg);
    margin: 0 0.5rem;
    font-size: 1rem;
    color: #94a3bb;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .projects-style .table table tbody tr td.links a svg {
    font-size: 1vw;
    margin: 0 0.5vw;
  }
}
@media (min-width: 768px) {
  .projects-style .table table tbody tr td.links a p {
    font-size: 0.8rem;
    color: #94a3bb;
    transition: all 0.3s ease-in-out;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .projects-style .table table tbody tr td.links a p {
    font-size: 0.8vw;
  }
}
@media (min-width: 768px) {
  .projects-style .table table tbody tr td.links a p:hover {
    color: #64ffda;
  }
}
@media (min-width: 768px) {
  .projects-style .table table tbody tr td.links a p:hover + svg {
    color: #64ffda;
    transform: translate(1px, -1px) rotate(45deg);
  }
}
.projects-style .table table tbody tr td.stacks {
  visibility: hidden;
  display: none;
}
.projects-style .table table tbody tr td.stacks .item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.projects-style .table table tbody tr td.stacks .item p {
  color: #64ffda;
  padding: 0.5rem 0.8rem;
  border-radius: 1.5rem;
  font-size: 0.7rem;
  background-color: rgba(94, 234, 212, 0.1);
}
@media (min-width: 1024px) {
  .projects-style .table table tbody tr td.stacks .item p {
    font-size: 0.8vw;
    padding: 0.5vw 0.8vw;
    border-radius: 1.5vw;
  }
}
@media (min-width: 1024px) {
  .projects-style .table table tbody tr td.stacks {
    visibility: visible;
    display: table-cell;
  }
}/*# sourceMappingURL=projects.css.map */