* {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter", sans-serif;
}

.projects-style {
  background-color: #0f0f0f;
}
.projects-style .detail.projects {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  box-shadow: 0 0 300px 300px rgba(122, 129, 151, 0.1);
}
@media (min-width: 1024px) {
  .projects-style .detail.projects {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 10vw 10vw rgba(122, 129, 151, 0.1);
  }
}
.projects-style .detail.projects.bottom {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
}
.projects-style .title {
  position: fixed;
  z-index: 100;
  top: 2rem;
  left: 2rem;
}
.projects-style .title h1 {
  font-size: 6vw;
  color: white;
  transform: translate(0.2rem, -0.8rem);
  display: none;
}
@media (min-width: 768px) {
  .projects-style .title h1 {
    font-size: 2vw;
    display: block;
  }
}
.projects-style .title .back-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  width: 10rem;
}
@media (min-width: 1024px) {
  .projects-style .title .back-menu {
    width: 9vw;
    gap: 0.2vw;
    margin-bottom: 1vw;
  }
}
.projects-style .title .back-menu:hover > svg {
  transform: rotate(-90deg) translateY(-0.5rem);
}
.projects-style .title .back-menu svg {
  font-size: 0.9rem;
  transform: rotate(-90deg) translateX(0rem);
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1024px) {
  .projects-style .title .back-menu svg {
    font-size: 1.2vw;
  }
}
.projects-style .title .back-menu h2 {
  font-size: 0.9rem;
}
@media (min-width: 1024px) {
  .projects-style .title .back-menu h2 {
    font-size: 1vw;
  }
}
.projects-style .title .back-menu h2,
.projects-style .title .back-menu svg {
  color: #64ffda;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.slider-container .left-slide {
  height: 100vh;
  width: 60%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .slider-container .left-slide {
    width: 48%;
  }
}
@media screen and (min-width: 1024px) {
  .slider-container .left-slide {
    width: 30vw;
  }
}
.slider-container .left-slide .slide {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0.8rem 1rem 0.8rem 1rem;
  transform: translateY(-3rem);
}
@media screen and (min-width: 768px) {
  .slider-container .left-slide .slide {
    margin: 0.8rem 5rem 0.8rem 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .slider-container .left-slide .slide {
    margin: 0.8vw 5vw 0.8vw 2vw;
  }
}
.slider-container .left-slide .slide-title h1 {
  font-size: 6rem;
}
@media screen and (min-width: 1024px) {
  .slider-container .left-slide .slide-title h1 {
    font-size: 7vw;
  }
}
.slider-container .left-slide .slide-title h2 {
  font-size: 0.9rem;
}
@media screen and (min-width: 1024px) {
  .slider-container .left-slide .slide-title h2 {
    font-size: 1.8vw;
  }
}
.slider-container .left-slide .slide-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem 2rem 0.7rem 0;
}
.slider-container .left-slide .slide-content .slide-stacks {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 1024px) {
  .slider-container .left-slide .slide-content .slide-stacks {
    margin: 1.5vw 0;
    gap: 1vw;
  }
}
.slider-container .left-slide .slide-content .slide-stacks .link {
  margin: 0.8rem 0;
}
.slider-container .left-slide .slide-content .slide-stacks .link svg {
  transform: rotate(90deg) translate(0.1rem, 0.2rem);
  transition: all 0.3s ease-in-out;
}
.slider-container .left-slide .slide-content .slide-stacks .link:hover svg {
  transform: rotate(90deg) translate(0.1rem, 0.1rem);
}
.slider-container .left-slide .slide-content p {
  font-size: 0.8rem;
}
@media screen and (min-width: 1024px) {
  .slider-container .left-slide .slide-content p {
    font-size: 1.1vw;
  }
}
.slider-container .left-slide .slide-content span {
  color: #64ffda;
}
.slider-container .left-slide .slide-content a {
  color: white;
  transition: all 0.3s ease-in-out;
  margin: 0.8rem 0;
}
.slider-container .left-slide .slide-content a:hover {
  color: #64ffda;
}
.slider-container .left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.slider-container .right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 60%;
  width: 40%;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .slider-container .right-slide {
    left: 50%;
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .slider-container .right-slide {
    left: 35vw;
    width: 65vw;
  }
}
.slider-container .right-slide > div.mobile {
  height: 100%;
  width: 100%;
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  display: block;
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .slider-container .right-slide > div.mobile {
    display: none;
    visibility: hidden;
  }
}
.slider-container .right-slide > div.desktop {
  display: none;
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .slider-container .right-slide > div.desktop {
    display: block;
    visibility: visible;
    height: 100%;
    width: 100%;
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}
.slider-container .action-buttons button {
  position: absolute;
  left: 60%;
  top: 60%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.61);
  border: 0;
  color: #0f0f0f;
  cursor: pointer;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .slider-container .action-buttons button {
    left: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .slider-container .action-buttons button {
    left: 35vw;
  }
}
.slider-container .action-buttons button svg {
  font-size: 0.9rem;
}
@media screen and (min-width: 1024px) {
  .slider-container .action-buttons button svg {
    font-size: 1.3vw;
  }
}
.slider-container .action-buttons button:hover {
  color: #222;
  background-color: white;
}
.slider-container .action-buttons button:focus {
  outline: none;
}
.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
}
.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  border: 1px solid black;
}/*# sourceMappingURL=projects.css.map */