$Gray: #0f0f0f;
$Light-Navy: #202020;
$Navy: #112240;
$Lightest-Navy: #ffffff;
$Slate: #d1d5e0;
$Light-Slate: #656c81;
$White: #e6f1ff;
$Green: #64ffda;
$Light-Gray: rgba(122, 129, 151, 0.1);

* {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @media screen and (min-width: 1024px) {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

  ::before,
  *::after {
    box-sizing: inherit;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter", sans-serif;
}

body {
  background-color: $Gray;
}

.projects-style {
  .detail.projects {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    box-shadow: 0 0 300px 300px $Light-Gray;

    @media (min-width: 1024px) {
      top: auto;
      left: auto;
      right: 0;
      bottom: 0;
      box-shadow: 0 0 10vw 10vw $Light-Gray;
    }

    &.bottom {
      top: auto;
      left: auto;
      right: 0;
      bottom: 0;
    }
  }

  .title {
    position: fixed;
    z-index: 100;
    top: 2rem;
    left: 2rem;

    @media (min-width: 1024px) {
      top: 4rem;
      left: 4rem;
      position: absolute;
    }

    h1 {
      font-size: 6vw;
      color: white;
      transform: translate(0.2rem, -0.8rem);
      display: none;

      @media (min-width: 768px) {
        font-size: 2vw;
        display: block;
      }
    }

    .back-menu {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.2rem;
      margin-bottom: 1rem;
      cursor: pointer;
      width: 10rem;

      @media (min-width: 1024px) {
        width: 9vw;
        gap: 0.2vw;
        margin-bottom: 1vw;
      }

      &:hover > svg {
        transform: rotate(-90deg) translateY(-0.5rem);
      }

      svg {
        font-size: 0.9rem;
        transform: rotate(-90deg) translateX(0rem);
        transition: all 0.3s ease-in-out;

        @media (min-width: 1024px) {
          font-size: 1.2vw;
        }
      }

      h2 {
        font-size: 0.9rem;

        @media (min-width: 1024px) {
          font-size: 1vw;
        }
      }

      h2,
      svg {
        color: $Green;
      }
    }
  }
}

.mobile-projects-list {
  padding-top: 5rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  display: flex;
  visibility: visible;

  @media screen and (min-width: 1024px) {
    display: none;
    visibility: hidden;
  }

  &-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;
  }

  .item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
  }

  .i-content {
    width: 80vw;
    .i-title {
      display: flex;
      gap: 0.5rem;

      h2 {
        color: white;
        font-size: 5rem;
        transform: translateY(-4rem);
      }

      h3 {
        color: white;
        font-size: 1rem;
        transform: translateY(-0.5rem);
      }
    }

    .i-desc {
      transform: translateY(-4rem);

      p {
        color: white;
        font-size: 0.8rem;
      }
    }

    .i-stacks {
      display: flex;
      gap: 0.7rem;
      transform: translateY(-3rem);
      flex-wrap: wrap;

      p {
        color: white;
        font-size: 0.9rem;
      }

      .stacks-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;

        span {
          background-color: rgba(94, 234, 212, 0.1);
          color: $Green;
          padding: 0.3rem 0.7rem;
          border-radius: 0.8rem;
          font-size: 0.9rem;
        }
      }
    }

    .i-project-link {
      transform: translateY(-2rem);

      .link {
        margin: 0.8rem 0;

        a {
          color: white;
          transition: all 0.3s ease-in-out;
          margin: 0.8rem 0;

          &:hover {
            color: $Green;
          }
        }

        svg {
          transform: rotate(90deg) translate(0.1rem, 0.2rem);
          transition: all 0.3s ease-in-out;
        }

        &:hover svg {
          transform: rotate(90deg) translate(0.1rem, 0.1rem);
        }
      }
    }
  }

  .i-background {
    height: 45vw;
    width: 80vw;

    & > div {
      height: 100%;
      width: 100%;
      border: 2px solid rgba(255, 255, 255, 0.3);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      border-radius: 1rem;
    }
  }
}

.desktop-projects-list {
  display: none;
  visibility: hidden;

  @media screen and (min-width: 1024px) {
    display: block;
    visibility: visible;
  }
}
